extends layout

block content
  h1= title
  br

  form(action="/api/virtualaccount" method="POST" class="form-registration")
    label(for="account") Select Parent (Real) Account:
      select(bankacc='dropDown', id='account_id', class='form-control', name='account_id')
        each account in account_array
          option(value=account.id) #{account.name}

    label(for="name") Give your account a name:
    input(
      type="text"
      id="name"
      name="name"
      class="form-control"
    )

    label(for="amount") Monthly Saving Amount:
    input(
      type="number"
      step="any"
      id="amount"
      name="amount"
      class="form-control"
      value=0
    )

    label(for="starting_balance") Starting Balance (if any):
    input(
      type="number"
      step="any"
      id="starting_balance"
      name="starting_balance"
      class="form-control"
      value=0
    )

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )
