extends layout


block content

    h1 #{title}
 
    div
     canvas#myChart
    br
    form(action='/api/virtualaccount', method='get')
     table(class="table")
      thead
       tr
        th Select
        th Virtual Account
        th Current Balance
        th Monthly Amount
        th Starting Balance
        th Real Account
      tbody
       - each account in account_array
        tr
         td
          input(id = account.id, type="radio", name="account", value=account.id)
          td #{account.name}
          td £#{account.current_balance}
          td £#{account.amount}
          td £#{account.starting_balance}
          td #{account.real_account}
     button(
        type='submit'
        value="Edit Account"
        class="btn btn-lg btn-primary"
        label="Edit Account"
      ) Edit
    br
    p Or add a new account:
    a(class='btn btn-lg btn-primary' href='/createvirtualaccount') Create New

    
    script. 
      let dataimport = !{JSON.stringify(account_array)};
      let pots = dataimport.map(({ name }) => name);
      let amounts = dataimport.map(({ current_balance }) => current_balance);
      const labels = [
        'One',
        'February',
        'March',
        'April',
        'May',
        'June',
        ];
      const data = {
        labels: pots,
        datasets: [{
          backgroundColor: 'rgb(0, 102, 204)',
          borderColor: 'rgb(0, 0, 153)',
          data: amounts,
          }]
        };
      const config = {
      type: 'bar',
      data: data,
      options: {
        plugins: {
          legend: {
            display: false
              }
            }
          }
        };
    script.
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );