extends layout

block content

    h1 #{title}
    p Virtual Account Name: #{name}
    p Real Account: #{physical_account}
    p Starting Balance: £#{starting_balance}
    p Current Balance: £#{current_balance}
    p Monthly Savings Amount: £#{amount}